In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns

/Users/xinyuyangren/anaconda/lib/python2.7/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

Status overview & Dataframe Preparation

In [4]:
Vent = pd.read_csv("/Users/xinyuyangren/Documents/TU:e_Year2/Thesis"
                    "/Aramis_Data_Warehouse/Behavior_Study/0800_Behav.csv")

#for 5,7,8,9 to rename br1 to br3

#Behav.rename(columns={'t_br1':'t_br3','rh_br1':'rh_br3','co2_br1':'co2_br3','con_br1':'con_br3','wc_br1':'wc_br3'}, inplace=True)

In [6]:
Vent1 = Vent[['dt','pulse_channel_ventilation_unit']]

In [7]:
Vent1

                         dt  pulse_channel_ventilation_unit
0       2013-01-01 00:02:35                               5
1       2013-01-01 00:05:35                               5
2       2013-01-01 00:08:35                               4
3       2013-01-01 00:11:35                               5
4       2013-01-01 00:14:35                               5
5       2013-01-01 00:17:35                               5
6       2013-01-01 00:20:35                               5
7       2013-01-01 00:23:35                               4
8       2013-01-01 00:26:35                               5
9       2013-01-01 00:29:35                               5
10      2013-01-01 00:32:35                               5
11      2013-01-01 00:35:35                               4
12      2013-01-01 00:38:35                               5
13      2013-01-01 00:41:35                               5
14      2013-01-01 00:44:35                               5
15      2013-01-01 00:47:35                               5
16      2013-01-01 00:50:35                               4
17      2013-01-01 00:53:35                               5
18      2013-01-01 00:56:35                               5
19      2013-01-01 00:59:35                               5
20      2013-01-01 01:02:35                               4
21      2013-01-01 01:05:35                               5
22      2013-01-01 01:08:35                               5
23      2013-01-01 01:11:35                               5
24      2013-01-01 01:14:35                               5
25      2013-01-01 01:17:35                               4
26      2013-01-01 01:20:35                               5
27      2013-01-01 01:23:35                               5
28      2013-01-01 01:26:35                               5
29      2013-01-01 01:29:35                               5
...                     ...                             ...
327398  2015-01-06 09:50:59                               4
327399  2015-01-06 09:53:59                               5
327400  2015-01-06 09:56:59                               4
327401  2015-01-06 09:59:59                               4
327402  2015-01-06 10:02:59                               4
327403  2015-01-06 10:05:59                               4
327404  2015-01-06 10:08:59                               4
327405  2015-01-06 10:11:59                               4
327406  2015-01-06 10:14:59                               4
327407  2015-01-06 10:17:59                               4
327408  2015-01-06 10:20:59                               4
327409  2015-01-06 10:23:59                               5
327410  2015-01-06 10:26:59                               4
327411  2015-01-06 10:29:59                               4
327412  2015-01-06 10:32:59                               4
327413  2015-01-06 10:35:59                               4
327414  2015-01-06 10:38:59                               4
327415  2015-01-06 10:41:59                               4
327416  2015-01-06 10:44:59                               4
327417  2015-01-06 10:47:59                               4
327418  2015-01-06 10:50:59                               4
327419  2015-01-06 10:53:59                               4
327420  2015-01-06 10:56:59                               5
327421  2015-01-06 10:59:59                               4
327422  2015-01-06 11:02:59                               4
327423  2015-01-06 11:05:59                               4
327424  2015-01-06 11:08:59                               4
327425  2015-01-06 11:11:59                               4
327426  2015-01-06 11:14:59                               4
327427  2015-01-06 11:17:59                               4

[327428 rows x 2 columns]

In [ ]:
def remap(x):
    
    if x < 4:
        x = 1
    elif 4< x < 6:
        x = 2
    else:
        x = 3
    return x

pos = Vent1['pulse_channel_ventilation_unit'].apply(remap)
Vent1['pulse_channel_ventilation_unit'] = pos